@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* variables */
:root {

  /* Amber theme */
  /* --color-900: #78350f; 
  --color-800: #92400e; 
  --color-700: #b45309; 
  --color-500: #f59e0b; 
  --color-200: #fde68a;  */

  /* Emerald theme */
  /* --color-900: #064e3b; 
  --color-800: #065f46; 
  --color-700: #047857; 
  --color-500: #10b981; 
  --color-200: #a7f3d0;  */

  /* Indigo theme */
  --color-900: #1e1b4b;
  --color-800: #312e81;
  --color-700: #4338ca;
  --color-500: #6366f1;
  --color-200: #c7d2fe;


  /* purple theme */
  /* --color-900: #581c87;
  --color-800: #6b21a8;
  --color-700: #7e22ce;
  --color-500: #a855f7; */

  /* permanent colors */
  --color-light: white;
  --color-dark: black;
  --color-success: #22c55e; /* Green for success */
  --color-danger: #ef4444; /* Red for error */
  --color-warning: #f59e0b; /* Amber for warning */
  --color-gray-700: #334155;
  --color-gray-500: #64748B;
  --color-gray-400: #d1d1d1;
  --color-gray-100: #94A3B8;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Short width */
}

::-webkit-scrollbar-track {
  background: var(--color-900);
}

::-webkit-scrollbar-thumb {
  background: var(--color-500); /* A slightly lighter purple for contrast */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-200); /* Even lighter for hover effect */
}
